<div *ngIf="router?.url != '/sign-up' && router?.url != '/login' && router?.url != '/thank-you' && router?.url != '/not-found' && router?.url != '/maintenance'">
	<div angly-callToAction heading="Want to join us?" subHeading="Goat Wranglers is not a cult" [buttonInfo]="buttonDetails"></div>

	<!-- Footer  -->
	<div class="footer-wrapper pt-5">
		<div class="container">
			<div class="footer-bottom">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<span class="text-muted">&copy; 2018, All right reserved </span>
					</div>
					<div class="social-icon-widget mb-2 col-sm-12 col-md-6 text-right">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="javascript:void(0)" class="square-30 rounded-circle bg-twitter"><i class="fa fa-twitter fa-inverse"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void(0)" class="square-30 rounded-circle bg-linked"><i class="fa fa-linkedin fa-inverse"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Back To Top -->
	<a href="#" id="back-top" class="to-top scrolled" (click)="topScroll($event)"> <span class="to-top-icon"></span> </a>
</div>

