<div class="page-main-container">
   <!-- Service grid -->
   <div class="service section-gap">
      <div class="container">
         <div class="section-title-wrapper">
           <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2>Best Solutions For Your Business Needs!</h2>
                  <p class="mb-0">Best solutions from worlds class professionals developed with latest trends and designs. </p>
               </div>
           </div>
         </div>
         <div class="row" angly-serviceGrid [serviceGridContent]="services"></div>
      </div>
   </div>

   <!-- Team grid -->
   <div class="team section-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Collaboration </h2>
                  <p class="mb-0">Meet our professional and experienced team, each team member is highly skilled and master in their area.</p>
               </div>
            </div>
         </div>
         <div class="row" angly-teamGrid [teamGridContent]="team" ></div>
      </div>
   </div>
   <!-- Subscribe section -->
   <div angly-subscribe [subscribeFormClasses]="subscribeFormClasses"></div>
</div>
